<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TwitOff!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
    <nav>
        <section class="hero">
            <div class="container">
                    <a href="/" class="brand"><span>Who Said It?</span></a>
                    <a href="/update" class="button **is-medium is-warning**">Update Tweets</a>
                    <!-- a href="/reset" class="button error">Reset Database</a> -->
            </div>
    </nav>
  </body>
</html>